@import "tailwindcss";

@theme {
  --font-serif: "Space Grotesk", sans-serif;
  /* Using Space Grotesk as the display font */
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: white;
    color: black;
    font-family: var(--font-sans);
    overflow-x: hidden;
  }
}

@layer utilities {
  .bg-grid {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  }
}